a {
  color: #5553ff;
}

a:hover {
  color: #7cda24;
}

.highlight {
  background: #ffc600;
}

.new-tab-container {
  background-image: url("/static/img/background_1.jpg");
  background-size: cover;
  min-height: 100vh;
}

.new-tab-container .clipping-container {
  background-color: white;
}

.new-tab-container .clipping-content {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.3rem;
  text-align: center;
}

.btn-primary {
  background-color: #5553ff;
  border-color: #5553ff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #6e6dff;
  border-color: #6e6dff;
}

.btn-outline-primary {
  color: #5553ff;
  border-color: #5553ff;
}

.btn-outline-primary:hover {
  background-color: #6e6dff;
  border-color: #6e6dff;
}

.btn-text {
  color: #5553ff;
  font-size: 0.9rem;
  padding: 0 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: middle;
  border-width: 0;
}

.btn-text:hover {
  color: #7cda24;
}

.card {
  border: none;
  -webkit-box-shadow: 0 5px 10px #0000001a;
          box-shadow: 0 5px 10px #0000001a;
  margin-bottom: 50px;
  border-radius: 0.25rem;
}

.card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card-header * {
  font-size: 1.3rem;
  color: #6f6f6f;
}

.key-value-pair {
  padding: 8px 0;
}

.key-value-pair .key {
  min-width: 300px;
}

.key-value-pair .value {
  max-width: calc(100% - 300px - 3%);
}

.key-value-pair .key {
  display: inline-block;
  color: #6f6f6f;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  padding-right: 5px;
}

.key-value-pair .value {
  display: inline-block;
  color: #5553ff;
  font-weight: bold;
  vertical-align: top;
}

@media only screen and (max-width: 1024px) {
  .key-value-pair .key {
    min-width: 260px;
  }
  .key-value-pair .value {
    max-width: calc(100% - 260px - 3%);
  }
}

@media only screen and (max-width: 768px) {
  .key-value-pair .key {
    min-width: 230px;
  }
  .key-value-pair .value {
    max-width: calc(100% - 230px - 3%);
  }
}

@media only screen and (max-width: 640px) {
  .key-value-pair .key {
    min-width: 220px;
  }
  .key-value-pair .value {
    max-width: calc(100% - 220px - 3%);
  }
}

.navbar {
  -webkit-box-shadow: 0 5px 20px -5px #00000029;
          box-shadow: 0 5px 20px -5px #00000029;
  background-color: white;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-item {
  -webkit-box-shadow: 0 5px 10px #0000001a;
          box-shadow: 0 5px 10px #0000001a;
  border-radius: 0.25rem;
}

.pagination .page-link {
  border: 0;
  height: 100%;
}

.pagination .page-item:not(.disabled) .page-link {
  color: #5553ff;
  font-size: 0.9rem;
  padding: 0 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: middle;
  border-width: 0;
  padding: 10px;
}

.pagination .page-item:not(.disabled) .page-link:hover {
  color: #7cda24;
}

.gallery-view {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (190px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 190px);
  grid-auto-rows: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
}

.gallery-view a {
  color: black;
  text-decoration: none;
}

.gallery-view .gallery-element {
  border: 0.1px solid #e4e4e4;
  height: 100%;
  padding: 0 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7fr 1fr 1fr;
      grid-template-rows: 7fr 1fr 1fr;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.03, 0.23, 0.94);
  transition: all 0.2s cubic-bezier(0, 0.03, 0.23, 0.94);
}

.gallery-view .gallery-element:hover {
  border-color: #ffc800;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.gallery-view .gallery-element .book-cover {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gallery-view .gallery-element .book-cover img {
  max-height: 160px;
}

.gallery-view .gallery-element .book-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: bold;
}

.gallery-view .gallery-element .book-author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7rem;
}

.gallery-view .gallery-element .book-clippings-count {
  display: none;
}
/*# sourceMappingURL=main.css.map */