{% load i18n %}

{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            {% if 'content' in request.get_full_path %}
                <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
            {% endif %}
        {% endif %}
        <li class="page-item disabled">
            <span class="page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
        </li>
        {% if page_obj.has_next %}
            {% if 'content' in request.get_full_path %}
                <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}