{% load i18n %}

<div class="modal fade delete-modal" id="modal_delete_clipping" tabindex="-1" role="dialog" aria-labelledby="modal_delete_clipping_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">{% trans "Are you sure?" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {% trans "Are you sure you want to delete this clipping? This procedure is irreversible!" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                <form action="{% url 'clipping_manager:books'%}" method="GET">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger js-modal-delete">{% trans "Delete" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
