@import "../variables";



.gallery-view {
    display: grid;
    grid-template-columns: repeat(auto-fill,  190px);
    grid-auto-rows: 230px;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 30px;

    a {
        color: black;
        text-decoration: none;
    }

    .gallery-element {
        border: 0.1px solid #e4e4e4;
        height: 100%;
        padding: 0 5px;

        display: grid;
        grid-template-rows: 7fr 1fr 1fr;

        transition: all 0.2s cubic-bezier(0, 0.03, 0.23, 0.94);

        &:hover {
            border-color: $color-tertiary;
            filter: blur(0px);
            transform: scale(1.07);
        }


        .book-cover {
            display: grid;
            justify-content: center;
            align-content: center;

            img {
                max-height: 160px;
            }
        }

        .book-title {
            align-self: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.8rem;
            font-weight: bold;
            
        }

        .book-author {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.7rem;
        }

        .book-clippings-count {
            display: none;
        }
    }
}
