@import "../variables";
@import "../mixins";


.key-value-pair {
    padding: 8px 0;

    @include key-value-width($width: 300px);

    .key {
        display: inline-block;

        color: $color-gray-1;
        font-size: 0.8rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;

        text-align: right;

        padding-right: 5px;
    }

    .value {
        display: inline-block;

        color: $color-primary;
        font-weight: bold;

        vertical-align: top;

    }
}

.key-value-pair {
    @media only screen and (max-width: $desktop) {  
        @include key-value-width($width: 260px);
    }

    @media only screen and (max-width: $tablet) {
        @include key-value-width($width: 230px);
    }

    @media only screen and (max-width: $phone) {
        @include key-value-width($width: 220px);
    }
}