.new-tab-container {
    background-image: url('/static/img/background_1.jpg');
    background-size: cover;
    min-height: 100vh;

    .clipping-container {
        background-color: white;
    }

    .clipping-content {
        color: rgba(0, 0, 0, 0.85);
        font-size: 1.3rem;
        text-align: center;
    }
}