@import "../variables";

.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover {

    background-color: lighten($color-primary, 5%);
    border-color: lighten($color-primary, 5%);
    }
}