@import "../mixins";
@import "../variables";

.card {
    border: none;
    @include shadow-1;
    margin-bottom: 50px;
    border-radius: $border-radius-1;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    * {
        font-size: 1.3rem;
        color: $color-gray-1;
    }
}