@import "../variables";

.key-value-pair {
    padding: 8px 0;

    $key-min-width: 300px;

    .key {
        display: inline-block;

        color: $color-gray-1;
        font-size: 0.8rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;

        min-width: $key-min-width;
        text-align: right;

        padding-right: 5px;
    }

    .value {
        display: inline-block;

        color: $color-primary;
        font-weight: bold;

        max-width: calc(100% - #{300px} - 5px);
        vertical-align: top;

    }
}