{% extends "content.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <h4>{{ user_count }}</h4>
            <span>Users</span>

            <h4 class="mt-4">{{ clippings_count }}</h4>
            <span>Clippings</span>

            <h4 class="mt-4">{{ books_count }}</h4>
            <span>Books</span>
        </div>
        <div class="col">
            <h4>Top Users</h4>
            {% for tuple in user_clippings_tuple %}
               {{ tuple.email }}: {{ tuple.clippings__count }}<br />
            {% endfor %}
        </div>
    </div>
{% endblock %}