{% extends "content.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="d-flex">

                 <div class="flex-fill">
                    <h4>{{ user_count_total }}</h4>
                    <span>Total Users</span>
                </div>

                <div class="flex-fill">
                    <h4>{{ user_count_with_uploads }}</h4>
                    <span>Active Users</span>
                </div>

                <div class="flex-fill">
                    <h4>{{ clippings_count }}</h4>
                    <span>Clippings</span>
                </div>

                <div class="flex-fill">
                    <h4>{{ books_count }}</h4>
                    <span>Books</span>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Top Users</h4>
            {% for tuple in user_clippings_tuple %}
                {{ tuple.email }}: {{ tuple.clippings__count }}<br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}