{% extends "sidebar.html" %}
{% load cms_tags i18n crispy_forms_tags urlparams %}
{% load staticfiles sekizai_tags %}

{% block sidebar_main %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </span>
        </div>
        <input type="text" class="form-control" id="search-book" placeholder="Search a book" aria-label="Search a book">
    </div>
    <div id="book-view" class="gallery-view">
        {% for book in books %}
            <a href="{% url 'clipping_manager:browse'%}{% urlparams book=book.id content='' %}">
                <div class="gallery-element">
                    <div class="book-cover">
                        <img src="https://www.rm.com.pl/pol_pl_Komandosi-Hitlera-e-book-1081_1.jpg" alt="#TODO">
                    </div>
                    <div class="book-title">
                        {{book.title|default:"unknown"}}
                    </div>
                    <div class="book-author">
                        {{book.author|default:"unknown"}}
                    </div>
                    <div class="book-clippings-count">
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
