{% extends "sidebar.html" %}
{% load cms_tags i18n crispy_forms_tags %}
{% load staticfiles sekizai_tags %}

{% block sidebar %}
    <div class="card">
        <div class="card-header">
            <h2>{% trans "Filters" %}</h2>
        </div>
        <div class="card-body">
            <form action="" method="get">
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-primary" value="{% trans 'Search' %}"/>
                {% if filter.qs.count != clippings_count %}
                    <a href="./">{% trans "Reset filters" %}</a>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h1>{% trans "Statistics" %}</h1>
        </div>
        <div class="card-body">
            {% with filter.qs.count as shown_cippings_count %}
                {% if shown_cippings_count == clippings_count %}
                    <p>{% trans "You have" %} {{ clippings_count }} {% trans "clippings" %} {% trans "from" %} {{ books_count }} {% trans "books" %}!</p>
                {% else %}
                    <p>{% blocktrans %}{{ shown_cippings_count }} clippings are matching your search{% endblocktrans %}</p>
                {% endif %}
            {% endwith %}
            <div>
                Check out detailed statistics over <a href="{% url 'clipping_manager:statistics' %}" class="btn btn-text">here</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h1>{% trans "Export" %}</h1>
        </div>
        <div class="card-body">
            <p>
                {% trans "Export matching clippings as Markdown" %}
            </p>
            <form method="get" action="{% url 'clipping_manager:export-clippings' %}" target="_blank">
                {% for key, value in request.GET.items %}
                  <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endfor %}
                <button type="submit" class="btn btn-text">{% trans "Export" %} ({{ filter.qs.count }})</button>
              </form>
        </div>
    </div>
{% endblock %}

{% block sidebar_main %}
    {% static_placeholder "manage_above_list" %}
    <div class="card">
        {% include "clipping_manager/partials/delete_clipping_modal.html" %}
        <div class="card-header">
            <h1>{% trans "Your Clippings" %}</h1>
        </div>
        <div class="card-body">
            <div class="clippings-list">
                {% for clipping in clippings %}
                    {% include "clipping_manager/partials/clipping_list_item.html" with clipping=clipping %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "partials/pagination.html" %}

    {% addtoblock "js" %}
        <script src="{% static 'js/helper-functions.js' %}" onload="highlightClippings('{{contains}}')"></script>
        <script src="{% static 'js/helper-functions.js' %}" onload="deleteModelControl()"></script>
    {% endaddtoblock %}
{% endblock %}

{% render_block "js" %}