{% load staticfiles i18n cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% render_block "css" %}
    {{ ALDRYN_SNAKE.render_head }}
  </head>
  <body>
    {% cms_toolbar %}

    {% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Kindle Highlights</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% with dropdown=True %}
                    {% show_menu 0 100 100 100 "includes/menu.html" %}
                {% endwith %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                    <li><a class="btn btn-outline-primary" href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
                    <li><a class="btn btn-primary ml-1" href="{% url "account_login" %}">{% trans "Sign in" %}</a></li>
                {% else %}
                    <li><a class="btn btn-primary" href="{% url "clipping_manager:dashboard" %}">{% trans "Your Clippings" %}</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    {% endblock %}

    {% block messages %}
        {% if messages %}
            <div class="messages container py-3">
                {% for message in messages %}
                    <div class="alert {% if 'error' in message.tags %} alert-danger {% elif 'success' in message.tags %} alert-success {% elif 'warning' in message.tags %} alert-warning {% endif %}"
                         role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block main %}
        <div class="container py-3">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock main %}

    {% block footer %}
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            {% static_placeholder "footer" %}
        </footer>
    {% endblock footer %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% render_block "js" %}
    {{ ALDRYN_SNAKE.render_tail }}
  </body>
</html>
