@mixin shadow-1 {
    box-shadow: 0 5px 10px #0000001a;
}

@mixin btn-text {
    color: $color-primary;
    font-size: 0.9rem;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    border-width: 0;
    &:hover {
        color: $color-secondary;
    }
}

@mixin key-value-width($width) {
    .key {min-width: $width}

    .value {max-width: calc(100% - #{$width} - 3%)}
}

@mixin plain-link {
    color: black;
    text-decoration: none;
}

@mixin ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin list-grid($border-color, $col-widths) {
    height: 100%;
    padding: 5px;
    
    border-bottom: 1px solid $border-color;

    display: grid;
    grid-template-columns: $col-widths;

    align-items: center;
    justify-items: center;
}