$color-primary: #5553ff;
$color-secondary: #7cda24;
$color-tertiary: #ffc800;

$color-gray-1: #6f6f6f;

$backgroud-gray: #e9e9e9;
$backgroud-light-gray: #fbfbfb;

$border-radius-1: 0.25rem;
$border-gray: #aba6a6;
$border-light-gray: #e7e7e7;


// Media Queries widths
$phone: 640px; 
$tablet: 768px; 
$desktop: 1024px;