$color-primary: #5553ff;
$color-secondary: #7cda24;
$color-tertiary: #ffc800;

$color-gray-1: #6f6f6f;

$border-radius-1: 0.25rem;

// Media Queries widths
$phone: 640px; 
$tablet: 768px; 
$desktop: 1024px;